<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--配置数据库的连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--配置连接池属性-->
        <property name="driverClass" value="${c3p0.driverClass}"/>
        <property name="jdbcUrl" value="${c3p0.jdbcUrl}"/>
        <property name="user" value="${c3p0.user}"/>
        <!--c3p0连接池的私有属性-->
        <!--连接池的最大连接数-->
        <property name="maxPoolSize" value="30"/>
        <!--连接池的最小连接数-->
        <property name="minPoolSize" value="10"/>
        <!--关闭连接后不自动提交（commit）-->
        <property name="autoCommitOnClose" value="false"/>
        <!--当获取连接的超时时间-->
        <property name="checkoutTimeout" value="2000"/>
        <!--当获取连接失败的重试次数-->
        <property name="acquireRetryAttempts" value="2"/>
    </bean>
    <!--配置sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置mybatis全局配置文件：mybatis-config.xml-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--扫描entity包，可直接类名，不用加包名，
        需扫描多个包可在value属性值后面加";"号，
        如 value="org.seckill.entity;org.seckill.dao"-->
        <property name="typeAliasesPackage" value="org.seckill.entity"/>
        <!--扫描sql配置文件：mapper需要的xml文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!--配置扫描dao接口包，动态实现dao接口，注入到spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSessionFactory，使用sqlSessionFactoryBeanName是为了防止提前注入sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--给出扫描dao接口的包-->
        <property name="basePackage" value="org.seckill.dao"/>
    </bean>
    <!-- 注入RedisDao -->
    <bean id="redisDao" class="org.seckill.dao.cache.RedisDao">
        <!-- 使用构造器注入 -->
        <constructor-arg index="0" value="localhost"/>
        <constructor-arg index="1" value="6379"/>
    </bean>
</beans>
